.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	padding: 17px 57px 17px 57px;
	font-size: 0.9em;
	z-index: 100;
}

@media screen and (max-width: 550px) {
	.header {
		padding: 15px;
	}
}
