.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 40px;
    align-items: center;

    a {
        transition: 0.5s;
        &:hover {
            opacity: 0.7;
        }
    }

    .nav-active {
        font-weight: bold;

        &:hover {
            opacity: 1;
        }
    }

    .left-nav {
        display: flex;
        justify-content: space-between;
        width: 40%;
    }

    .right-nav {
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: space-between;

        .icon {
            font-size: 1.4em;
            cursor: pointer;
        }

        .dropdown-menu {
            display: flex;
            align-items: center;
            cursor: pointer;
            
            img {
                margin-right: 8px;
                width: 28px;
                height: 28px;
                border-radius: 4px;
            }
        }
    }
}